footer.footer
  .container
    .wrapper
      .footer_title.footer_row byoncy
      .footer_copyright.footer_row Copyright 2020. All rights Reserved
      .footer_link_social.footer_row
        a(href="https://www.facebook.com" target="_blank") 
          i.fab.fa-facebook-f
        a(href="https://twitter.com" target="_blank")
          i.fab.fa-twitter
        a(href="https://www.linkedin.com" target="_blank")
          i.fab.fa-linkedin-in
        a(href="https://www.instagram.com" target="_blank")
          i.fab.fa-instagram
        a(href="https://vimeo.com/" target="_blank")
          i.fab.fa-vimeo-v
script(src="js/libs.min.js")
script(src="js/index.js")
