header
	.container
		.wrapper.main-header
			.main-header-logo
				a(href="#") bouncy
			nav.main-header-nav.header-nav-list
				.header-nav-item
					a(href="#") Hello
				.header-nav-item
					a(href="#") About
				.header-nav-item
					a(href="#") Services
				.header-nav-item
					a(href="#") Portfolio
				.header-nav-item
					a(href="#") Team
				.header-nav-item
					a(href="#") Blog
				.header-nav-item
					a(href="#") Contact
			.hamburger-nav--btn
				input#menu_checkbox(type='checkbox')
				label#menu_label(for='menu_checkbox')
					span#menu_line
			nav.hamburger-nav-list
				.hamburger-nav-item
					a(href="#") Hello
				.hamburger-nav-item
					a(href="#") About
				.hamburger-nav-item
					a(href="#") Services
				.hamburger-nav-item
					a(href="#") Portfolio
				.hamburger-nav-item
					a(href="#") Team
				.hamburger-nav-item
					a(href="#") Blog
				.hamburger-nav-item
					a(href="#") Contact

























