header
	.container
		.main-header
			.main-header-logo
				a(href="#") bouncy
			nav.main-header-nav.header-nav-list
				.header-nav-item
					a(href="#hello") Hello
				.header-nav-item
					a(href="#about") About
				.header-nav-item
					a(href="#services") Services
				.header-nav-item
					a(href="#portfolio") Portfolio
				.header-nav-item
					a(href="#") Team
				.header-nav-item
					a(href="#") Blog
				.header-nav-item
					a(href="#") Contact
			.hamburger-nav--btn
				input#menu_checkbox(type='checkbox')
				label#menu_label(for='menu_checkbox')
					span#menu_line
			nav.hamburger-nav-list
				.hamburger-nav-item
					a(href="#hello") Hello
				.hamburger-nav-item
					a(href="#about") About
				.hamburger-nav-item
					a(href="#services") Services
				.hamburger-nav-item
					a(href="#portfolio") Portfolio
				.hamburger-nav-item
					a(href="#") Team
				.hamburger-nav-item
					a(href="#") Blog
				.hamburger-nav-item
					a(href="#") Contact

























