//---------------- Section Five ------------
section.section_five
	.container
		.wrapper.services
			h2.services-title.section_title our services
			.services-description.section_description  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			.services-block-skills.block_skills
				.block_skills.skills_left
					.block_skills_left_tabs
						div.js-tab-skills.active_tab_skills(data-tab="1")
							i.fas.fa-tools
						div.js-tab-skills(data-tab="2")
							i.fas.fa-paint-roller
						div.js-tab-skills(data-tab="3")
							i.fas.fa-gamepad 
						div.js-tab-skills(data-tab="4")
							i.fas.fa-plug
					.block_skills_tab_content
						.block_skills_text.tab_content_skills.skills_active(data-tab="1")
							h3.skills__title Setting Skills
							.skills_text Lorem ipsum, dolor sit amet consecte adipisic elit? Consecte adipisic elit
							.skills_text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae dolore, temporibus voluptatem enim cumque quidem asperiores suscipit optio recusandae perferendis et id provident odit, eaque ab atque veniam aperiam soluta!
						.block_skills_text.tab_content_skills(data-tab="2")
							h3.skills__title Graphic Design
							.skills_text Lorem ipsum dolor sit amet consectetur adipisicing elit!
							.skills_text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quibusdam cumque quisquam ut, nisi earum eaque delectus laborum voluptate. Sit nesciunt explicabo recusandae aliquam cum delectus cupiditate? Dolorum, ea in?
						.block_skills_text.tab_content_skills(data-tab="3")
							h3.skills__title Game Skills
							.skills_text Lorem ipsum dolor sit amet consectetur?
							.skills_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur non possimus deleniti est voluptates odio excepturi nam voluptatibus autem, sit reiciendis ut similique, labore ipsa sint necessitatibus? Quam, ullam.
						.block_skills_text.tab_content_skills(data-tab="4")
							h3.skills__title Electrician Skills
							.skills_text Lorem ipsum dolor sit amet consectetur adipisicin?
							.skills_text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae id, illum sint alias in voluptatibus a eveniet cumque exercitationem. Totam cumque asperiores nobis dicta laudantium sequi, et molestias sed commodi!
				.block_skills.skills_right
					.progress-ring_block
						svg.progress-ring(width="120" height="120")
							circle.progress-ring__circle(stroke='rgba(25, 189, 154, 1)' stroke-width='5' cx='60' cy='60' r='50' fill='transparent' data-persent="80")
						svg.progress-ring__bg(width="120" height="120")
							circle(stroke='rgba(4, 115, 120, 1)' stroke-width='5' cx='60' cy='60' r='50' fill='transparent')
						span 80%
						p Branding
					.progress-ring_block
						svg.progress-ring(width="120" height="120")
							circle.progress-ring__circle(stroke='rgba(25, 189, 154, 1)' stroke-width='5' cx='60' cy='60' r='50' fill='transparent' data-persent="75")
						svg.progress-ring__bg(width="120" height="120")
							circle(stroke='rgba(4, 115, 120, 1)' stroke-width='5' cx='60' cy='60' r='50' fill='transparent')
						span 75%
						p Web Design
					.progress-ring_block
						svg.progress-ring(width="120" height="120")
							circle.progress-ring__circle(stroke='rgba(25, 189, 154, 1)' stroke-width='5' cx='60' cy='60' r='50' fill='transparent' data-persent="65")
						svg.progress-ring__bg(width="120" height="120")
							circle(stroke='rgba(4, 115, 120, 1)' stroke-width='5' cx='60' cy='60' r='50' fill='transparent')
						span 60%
						p UI/UX  





