//---------------- Section Three ------------
section.section_three
	.container
		.wrapper.details
			h2.details-title DetailS ABOUT BOUNCY
			p.deteils-description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			.details-block-logo
				div.js-tab-trigger.active_tab(data-tab="1")
					i.far.fa-heart
				div.js-tab-trigger(data-tab="2")
					i.fas.fa-cog
				div.js-tab-trigger(data-tab="3")
					i.far.fa-lightbulb
			.tab-content
				.deteils-block-text.js-tab-content.active(data-tab="1")
					h3.details-text-title creative ideas
					.details_text At <span>vero</span> eos et accusamus et iusto odio dignissimos <span>ducimus</span> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tempore, delectus, recusandae pariatur distinctio, et iure doloremque veniam obcaecati fugit error? Modi exercitationem optio temporibus voluptate voluptas earum iusto sit.
					.details_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <span>corrupti quos</span> dolores et quas molestias <span>excepturi</span> sint occaecati cupiditate non provident, <span>similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
				.deteils-block-text.js-tab-content(data-tab="2")
					h3.details-text-title technical ideas
					.details_text At <span>vero</span> eos et accusamus et iusto odio dignissimos <span>ducimus</span> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti tempora facilis a. Eaque suscipit, soluta fugit officia eligendi amet excepturi veritatis velit quidem ullam asperiores ex cum autem quae pariatur. 
					.details_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <span>corrupti quos</span> dolores et quas molestias <span>excepturi</span> sint occaecati cupiditate non provident, <span>similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rerum quasi vel voluptatibus ipsum, quas harum consequuntur reiciendis, nostrum iusto natus molestiae laborum? Soluta praesentium enim, tenetur iusto natus.
				.deteils-block-text.js-tab-content(data-tab="3")
					h3.details-text-title crazy light ideas
					.details_text At <span>vero</span> eos et accusamus et iusto odio dignissimos <span>ducimus</span> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ut doloribus eos. Optio ratione quos neque maxime sapiente rem, libero iusto velit voluptate asperiores ex, recusandae nisi reprehenderit, voluptatem nulla?
					.details_text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <span>corrupti quos</span> dolores et quas molestias <span>excepturi</span> sint occaecati cupiditate non provident, <span>similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus hic in pariatur unde dolor officia repellendus dicta, a odit, accusantium impedit. Quia, deserunt? Cupiditate omnis animi incidunt laboriosam officiis velit?


