//---------------- Section Six ------------
section.section_six
	.container
		.wrapper.impressed
			.impressed_block
				.impressed-title Impressed ?
				.impressed-card.card-impressed
					.card-impressed_description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
					.card-impressed-author - Abdullah Noman
					.card-impressed-work 
						div Creatice Director, 
							span Code Cafe
			.impressed_mac
				img(src="img/section_six/mac.png" alt="Mac")
