//---------------- Section Four ------------
section.section_four
	.container
		.wrapper.projects
			h2.projects_title.section_title  FEATURED PROJECTS
			p.projects_description.section_description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
	.accordion
		ul
			li(tabindex='1')
				div
					a(href='#')
						h3 Style
			li(tabindex='2')
				div
					a(href='#')
						h3 VINTAGE
			li(tabindex='3')
				div
					a(href='#')
						h3 Branding
	.projects-submit-block
		.projects-submit-bg
		.wrapper
			.projects-submit-text At vero eos et <span>accusamus</span> et iusto odio dignissimos ducimus qui blanditiis 
			.projects-submit-btn 
				a(href="#") submit now
