/* --------------- Fonts ------------------ */
@font-face {
  font-family: 'BigJohn';
  src        : url("../fonts/Big-John/BigJohn.eot");
  src        : url("../fonts/Big-John/BigJohn.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Big-John/BigJohn.woff") format("woff"),
    url("../fonts/Big-John/BigJohn.ttf") format("truetype"),
    url('../fonts/Big-John/BigJohn.svg#BigJohn') format('svg');
  font-style : normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenRegular';
  src        : url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src        : url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-style : normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendo';
  src        : url("../fonts/Pretendo/Pretendo.eot");
  src        : url("../fonts/Pretendo/Pretendo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Pretendo/Pretendo.woff") format("woff"),
    url("../fonts/Pretendo/Pretendo.ttf") format("truetype"),
    url('../fonts/Pretendo/Pretendo.svg#Pretendo') format('svg');
  font-style : normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenBold';
  src        : url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src        : url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"),
    url('../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-style : normal;
  font-weight: 700;
}

@font-face {
  font-family: 'SourceLight';
  src        : url("../fonts/SourceSansPro-Light/SourceSansPro-Light.eot");
  src        : url("../fonts/SourceSansPro-Light/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SourceSansPro-Light/SourceSansPro-Light.woff") format("woff"),
    url("../fonts/SourceSansPro-Light/SourceSansPro-Light.ttf") format("truetype"),
    url('../fonts/SourceSansPro-Light.svg#SourceSansProLight') format('svg');
  font-style : normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SourceBlack';
  src        : url("../fonts/SourceSansPro-Black/SourceSansPro-Black.eot");
  src        : url("../fonts/SourceSansPro-Black/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SourceSansPro-Black/SourceSansPro-Black.woff") format("woff"),
    url("../fonts/SourceSansPro-Black/SourceSansPro-Black.ttf") format("truetype"),
    url('../fonts/SourceSansPro-Black.svg#SourceSansProBlack') format('svg');
  font-style : normal;
  font-weight: 900;
}

@font-face {
  font-family: 'RobotoLight';
  src        : url("../fonts/Roboto-Light/Roboto-Light/.eot");
  src        : url("../fonts/Roboto-Light/Roboto-Light/.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Light/Roboto-Light/.woff") format("woff"),
    url("../fonts/Roboto-Light/Roboto-Light/.ttf") format("truetype"),
    url('../fonts/Roboto-Light/Roboto-Light/.svg#RobotoLight/') format('svg');
  font-style : normal;
  font-weight: 300;
}

@font-face {
  font-family: 'FontAwesome';
  src        : url("../fonts/Fontawesome/fontawesome-webfont.eot");
  src        : url("../fonts/Fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Fontawesome/fontawesome-webfont.woff") format("woff"),
    url("../fonts/Fontawesome/fontawesome-webfont.ttf") format("truetype"),
    url("../fonts/Fontawesome/fontawesome-webfont.svg#FontAwesome") format("svg");
}