/* ----------- HEDEAR STYLE -----------*/

header {
   position: fixed;
   top     : 0;
   width   : 100%;
   z-index : 9999;

   .container {
      position       : relative;
      max-width      : unset;
      justify-content: center;
      align-items    : center;
      z-index        : 999;
   }
}

.main-header {
   position       : relative;
   display        : flex;
   flex-direction : row;
   justify-content: space-between;
   align-items    : center;
   flex-wrap      : wrap;
   width          : 100%;
   max-width      : $maxWidth;
   height         : 110px;
   z-index        : 999;

   .main-header-nav {
      display       : flex;
      flex-direction: row;
   }

   .hamburger-nav--btn {
      display: none;
   }

   .hamburger-nav-list {
      display: none;
   }
}

.main-header--height {
   height: 80px;
}

.header--color {
   background-color: rgba(0, 0, 0, 0.6);
}

.main-header-logo {
   cursor     : pointer;
   font-family: BigJohn;
   font-size  : calc(30px + 0.5vw);

   a {
      display   : block;
      color     : $white-color;
      transition: all 0.5s ease-in-out;

      &:hover {
         color    : $orange;
         transform: scale(1.1);
      }
   }
}

.header-nav-item {
   &:not(:last-child) {
      margin-right: 5px;
   }

   a {
      display      : block;
      padding      : 8px 10px;
      border       : 1px solid transparent;
      border-radius: 20px;
      font-family  : OpenRegular;
      font-size    : calc(16px + 0.2vw);
      color        : $white-color;
      transition   : border .7s ease-in-out;

      &:hover {
         border: 1px solid $white-color;
      }
   }
}