/* -------- Section Three style ------------*/
.section_three {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   background-color: rgba(243, 243, 243, 1);
}

.details-block-logo {
   flex: 1 1 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   margin-bottom: calc(30px + 1.5vmin);

   div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: calc(12px + 0.3vmin);
      border-radius: 50%;
      background-color: rgba(129, 134, 142, 1);
      transition: background-color 0.5s linear;
      cursor: pointer;
      width: 53px;
      height: 53px;

      &:not(:last-child) {
         margin-right: calc(25px + 0.4vmin);
      }

      i {
         font-size: calc(12px + 1vmin);
         color: $white-color;
      }
   }

   .active_tab {
      background-color: rgba(25, 189, 154, 1);
   }
}

.deteils-block-text {
   display: none;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: wrap;
   width: 100%;
   padding: 20px;
   margin-top: -1px;

   .details-text-title {
      flex: 1 1 100%;

      font: {
         family: OpenRegular;
         size: calc(16px + 0.4vmin);
      }

      text-transform: capitalize;
      color: rgba(70, 70, 70, 1);
      padding-left: calc(40px + 1.6vmin);
      margin-bottom: calc(25px + 1.5vmin);
   }

   .details_text {
      padding: 0 calc(20px + 1.6vmin);
      color: rgba(129, 134, 142, 1);
      line-height: 1.7;

      &:nth-child(2) {
         flex: 1 1 45%;

         font: {
            family: OpenRegular;
            size: 16px;
         }
      }

      &:nth-child(2) > span:first-child {
         font: {
            weight: 700;
            family: OpenBold;
         }

         color: rgba(25, 189, 154, 1);
      }

      &:nth-child(2) > span:last-child {
         font: {
            weight: 700;
            family: OpenBold;
         }

         color: rgba(99, 105, 113, 1);
      }

      &:last-child {
         flex: 1 1 55%;

         font: {
            family: OpenRegular;
            size: 14px;
         }
      }

      &:last-child > span:first-child,
      &:last-child > span:last-child {
         font: {
            weight: 700;
            family: OpenBold;
         }

         color: rgba(99, 105, 113, 1);
      }

      &:last-child > span:nth-child(2) {
         font: {
            weight: 700;
            family: OpenBold;
         }

         color: rgba(25, 189, 154, 1);
      }
   }
}

.deteils-block-text.active {
   display: flex;
}
